{% extends"layout.html" %}
<!--layout.htmlを適用-->
{% block body %}

<!--引き渡されたid内の記事を出力-->
<h2>
    {{ entry.title }}

</h2>
<br>

{{ entry.text }}
<br>
<br>
{{ entry.category }}
<br>
<br>
投稿日時{{ entry.created_at }}
<br>
<br>
 <div class="btn-group">
　<!--記事の編集(編集ボタン)-->
  <form action="{{ url_for('entry.edit_entry',id=entry.id) }}" method="GET">
       <!--edit_entryにidの引数を渡し、戻り値を取得-->
    <button type="submit" class="btn btn-secondary">
        編集
    </button>
  </form>
　<!--記事の削除(削除ボタン)-->
  <form action="{{ url_for('entry.delete_entry',id=entry.id) }}" method="POST">
       <!--edit_entryにidの引数を渡し、戻り値を送信-->
    <button type="submit" class="btn btn-danger" style="margin-left:5px">
        削除
    </button>
  </form>

 </div>

{% endblock %}
<!--layout.htmlとはことなる部分の編集-->